* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main { 
    width: 80%;
    margin: auto;
}

.box {
    width: 32.47%;
    display: inline-block;
    margin: 0.3%;
    padding-bottom: 5%;
    position: relative;
}

img {
    width: 100%;
    height: auto;
}
.square {
    width: 2em;
    height: 2em;
    background: white;
    position: absolute;
    right: 0;
    top: 3%;
    text-align: center;
    line-height: 2em;
}

.square:hover .kuore{
    color: red;
}
.kuore{
    font-size: 220%;
}

.sconto,.eco,.eco2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.sconto {
    background: red;
    padding: 3px;
    position: absolute;
    bottom: 22%;
    left: 0;
}

.eco {
    background: green;
    padding: 3px;
    position: absolute;
    bottom: 22%;
    left: 15%;
}

.eco2 {
    background: green;
    padding: 3px;
    position: absolute;
    bottom: 22%;
    left: 0;
}


/*.box {
    position: relative;
    padding-right: 30px;
    margin-bottom: 10%;
    display: inline-block;
} **/

.info {
    font-family: Arial, Helvetica, sans-serif;
}

.price,.type,.brand {
    display: block;
}

.type {
    text-transform: uppercase;
    font-weight: bold;
}




